:root {
  --font: rgb(61, 60, 60);
  --white: #e6e6e6;
}
* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: NunitoSans;
}

body {
  background: #010101;
  overflow-x: hidden;
  font-family: NunitoSans;
}

.pointer {
  position: fixed; /* Change to fixed positioning */
  width: 30px;
  height: 30px;
  background-color: var(--font); /* Example color, change as needed */
  border-radius: 50%; /* Make it a circle */
  pointer-events: none; /* Prevent it from interfering with mouse events */
  z-index: 100; /* Ensure it's on top of other elements */
  transition: transform 0.2s ease, background-color 0.2s ease; /* Add a smooth transition */
  transform: translate(-50%, -50%); /* Center the pointer */
  opacity: 0.8;
}

.pointer.inverse {
  background-color: var(--white); /* Inverse color */
}

/* Nav */
nav {
  display: flex;
  width: 100%;
  height: 4rem;
  background: white;
  padding: 0 3rem;
  gap: 3rem;
  position: sticky;
  top: 0;
  z-index: 999;
  font-family: NunitoSans;
}

nav .nav-logo {
  width: 20vw;
}
nav .nav-logo img {
  width: 4rem;
}

nav .nav-menu {
  width: 80vw;
}
nav .nav-menu ul {
  display: flex;
  list-style-type: none;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
}

nav .nav-menu ul li a {
  text-decoration: none;
  font-weight: 700;
  color: var(--font);
  padding: 0.5rem 2rem;
  border-radius: 2rem;
  position: relative;
  transition: all 0.3s ease-in-out;
}

.nav-menu ul li a:hover {
  background-color: var(--font);
  color: var(--white);
  transition: 0.3s;
}

.nav-menu ul li a.active {
  background-color: var(--font);
  color: var(--white);
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  transform: translateY(-5px); /* Menggeser tombol ke atas 5px */
}

/* Home */
section#home {
  height: 100vh;
  width: 100vw;
  display: flex;
  position: relative;
  top: -4rem;
  z-index: 1;
}

/* #home .logo-home{
    width: 40vw;
    display: flex;
    align-items: center;
    justify-content: center;

} */
/* #home .logo-home img{
    width: 20rem;
    border-radius: 50%;
    box-shadow: 1px 4px 20px 1px;
} */
#home .home-container {
  width: 95%;
  margin: 0 auto;
  position: relative;
  top: 4rem;
  height: 90%;
  border-radius: 3rem;
  background: linear-gradient(to right, #f093fb, #f5576c, #f093fb);
  /* Add animation for shimmering effect */
  background-size: 400% 400%;
  animation: shimmer 16s linear infinite;
}

@keyframes shimmer {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 400% 400%;
  }
}

#home .home-page {
  width: 100%;
  height: 100%;
  display: flex;
  box-sizing: border-box;
}

#home .home-page .greet {
  text-align: center;
  height: 7rem;
}

/* Connect */
#home .home-page .connect {
  width: 25%;
  padding-left: 3rem;
  display: flex;
}
#home .home-page .connect .text-connect {
  display: flex;
  align-items: center;
  height: 100%;
  width: 50%;
}
h1.vertical-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.vertical-text span {
  display: block;
  text-align: center;
}

#home .home-page .connect .sosmed {
  width: 50%;
}
#home .home-page .connect .sosmed ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  row-gap: 4rem;
  justify-content: center;
  height: 100%;
  width: 100%;
  padding-left: 0;
  align-items: center;
}

#home .home-page .connect .sosmed ul li {
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
  padding-left: 0;
}
#home .home-page .connect .sosmed ul li a {
  padding: 1rem;
  border-radius: 2rem;
  background-color: var(--white);
  text-decoration: none;
  color: var(--font);
  font-weight: 700;
}
#home .home-page .connect .sosmed ul li a:hover {
  background-color: var(--font);
  color: var(--white);
  transition: 0.3s;
}

/* Center */
#home .home-page .center {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
}
#home .home-page .get-started {
  display: flex;
  justify-content: center;
}
#home .home-page .get-started a {
  text-decoration: none;
  background-color: var(--font);
  padding: 1rem 2rem;
  color: var(--white);
  font-weight: 700;
  border-radius: 3rem;
  font-family: NunitoSans;
}
#home .home-page .get-started a:hover {
  transition: 0.3s;
  background-color: rgb(22, 22, 22);
}

/* Typewriter */

.typewriter {
  overflow: hidden; /* Mengatur teks agar tersembunyi */
  white-space: nowrap; /* Menghindari wrap teks */
  margin: 0 auto; /* Pusatkan teks */
  animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
  border-right: 0.15em solid var(--font); /* Garis yang berkedip untuk efek typewriter */
  cursor: default;
  font-family: NunitoSans;
}

/* Keyframes untuk efek typing */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* Keyframes untuk caret blinking */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: var(--font);
  }
}

/* Profil */
section#profile .profile-container {
  height: 100%;
  width: 100vw;
  display: flex;
}
section#profile .profile-desc {
  width: 60%;
  height: 100%;
  display: flex;
  padding-left: 6rem;
  align-items: center;
  padding-top: 4rem;
  cursor: default;
}
section#profile .profile-desc .desc {
  background-color: var(--white);
  width: 60%;
  height: max-content;
  border-radius: 3rem;
  padding: 3rem 3rem;
}
section#profile .profile-desc .desc h4 {
  width: 100%;
  font-weight: 700;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  background: linear-gradient(to right, #f093fb, #f5576c);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
section#profile .profile-desc .desc p {
  line-height: 1.5rem;
  text-align: justify;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
section#profile .profile-desc .desc .skills {
  border: 1px sold;
  margin-top: 3rem;
}

section#profile .profile-desc .desc .skills .skill-set {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  margin-top: 1rem;
}
section#profile .profile-desc .desc .skills .skill-set .skill {
  background: var(--font);
  padding: 0.2rem 1rem;
  color: var(--white);
  border-radius: 3rem;
  cursor: default;
}
section#profile .profile-desc .desc .skills .skill-set .skill:hover {
  background: linear-gradient(to right, #f093fb, #f5576c);
  color: var(--font);
  transition: 0.5s;
}
section#profile .profile-img {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

section#profile .profile-img img {
  width: 20rem;
  border-radius: 20%;
  box-shadow: 1px 2px 10px 3px;
}
/* HOver img */
.profile-img {
  position: relative;
  overflow: hidden; /* Hide the text outside the image */
}

.profile-img img {
  transition: filter 0.3s ease; /* Add a smooth transition for the filter */
}

.profile-img:hover img {
  filter: brightness(0.5); /* Make the image slightly darker */
}

.profile-img .hover-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* Apply gradient to the text */
  background: linear-gradient(to right, #f093fb, #f5576c);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* Rest of the styles */
  opacity: 0;
  font-weight: 700;
  font-size: 1.5rem;
  cursor: default;
  transition: opacity 0.3s ease; /* Add a smooth transition for opacity */
}

.profile-img:hover .hover-text {
  opacity: 1; /* Show the text on hover */
}
/* end */

#profile .desc {
  opacity: 0;
  transform: translateX(-100%); /* Start off-screen to the left */
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out; /* Add transition */
}

#profile .profile-img {
  opacity: 0;
  transform: translateX(100%); /* Start off-screen to the right */
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out; /* Add transition */
}

/* When the page loads, animate the elements */
#profile .desc.show {
  opacity: 1;
  transform: translateX(0);
  transition: 1s;
}

#profile .profile-img.show {
  opacity: 1;
  transform: translateX(0);
  transition: 1s;
}

/* Projects */
#projects,
#publication {
  width: 100%;
  padding: 3rem 0;
}
#publication {
  height: max-content;
}

#projects .project-head,
#publication .publikasi-head,
#profile .profile-head,
#blog .blog-head {
  display: flex;
  justify-content: center;
}
#projects .project-head h2,
#publication .publikasi-head h2,
#profile .profile-head h2,
#blog .blog-head h2 {
  margin-top: 4rem;
  background: linear-gradient(to right, #f093fb, #f5576c);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#projects .projek-container,
.pub-container {
  display: flex;
  justify-content: start;
  margin-top: 3rem;
  flex-wrap: wrap;
  padding: 0 10rem;
  gap: 6rem 9rem;
}
.pub-container {
  justify-content: center;
}
#projects .projek-container .projek-card,
.pub-container .pub-card {
  width: 15rem;
  height: 20rem;
  background-color: var(--white);
  border-radius: 0.5rem;
  position: relative;
  transition: filter 0.3s ease; /* Add a smooth transition for the filter */
}

#projects .projek-container .projek-card img,
.pub-container .pub-card img {
  width: 15rem;
  height: 20rem;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 0.5rem;
}

#projects .projek-container .projek-card img,
.pub-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transition: filter 0.3s ease; /* Add a smooth transition for the filter */
}

#projects .projek-container .projek-card .hover-text,
.pub-card .hover-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  opacity: 0;
  font-weight: 700;
  font-size: 1.5rem;
  cursor: default;
  transition: opacity 0.3s ease; /* Add a smooth transition for opacity */
  pointer-events: none; /* Prevent the text from interfering with hover */
  z-index: 1; /* Place the text on top of the image */
}
.pub-card .hover-text {
  font-size: 1rem;
  text-align: center;
}
#projects .projek-container .projek-card .hover-text a,
.pub-card .hover-text a {
  color: white;
  text-decoration: none;
}

#projects .projek-container .projek-card:hover .hover-text,
.pub-card:hover .hover-text {
  opacity: 1; /* Show the text on hover */
  z-index: 1;
}

/* Apply the brightness filter to the background image only */
#projects .projek-container .projek-card:hover img,
.pub-card:hover img {
  filter: brightness(0.7); /* Make the image slightly darker */
}
.ribbon {
  width: 100px;
  font-size: 14px;
  padding: 4px;
  position: absolute;
  right: -3.4rem;
  top: -3.4rem;
  text-align: center;
  border-radius: 25px;
  transform: rotate(30deg);
  background-color: #ff9800;
  color: white;
}








/* bLOG */
#blog .blog-container{
  height: 20vh;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}





/* Footer */
footer {
  background: linear-gradient(to right, #f093fb, #f5576c);
  width: 100%;
  height: 25rem;
  /* border-top-left-radius: 30%;
  border-top-right-radius: 30%; */
  margin-top: 5rem;
}
footer .footer-container {
  display: flex;
  align-items: center;
  height: 100%;
}
footer .footer-container .left {
  height: 100%;
  width: 33%;
  padding-left: 5rem;
}
footer .footer-container .left img {
  width: 7rem;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding-top: 3rem;
}
footer .footer-container .left .text-left {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: white;
  text-align: center;
  border-end-end-radius: 1px solid;
  margin-top: 2rem;
}
footer .footer-container .left .text-left p {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  margin-top: 1rem;
}
footer .footer-container .left .text-left .sosmed {
  display: flex;
  justify-content: space-evenly;
  margin-top: 2rem;
}
footer .footer-container .left .text-left .sosmed a {
  text-decoration: none;
  color: var(--font);
  font-weight: 700;
  background-color: var(--white);
  padding: 0.7rem;
  border-radius: 50%;
}
footer .footer-container .left .text-left .sosmed a:hover {
  color: var(--white);
  background-color: var(--font);
  transition: 0.3s;
}
/* center */
footer .footer-container .center,
footer .footer-container .right {
  height: 100%;
  width: 33%;
  padding-top: 5rem;
  display: flex;
  justify-content: center;
}
footer .footer-container .center .link .link-head,
footer .footer-container .right .contact-head {
  margin-bottom: 3rem;
  font-size: larger;
}
footer .footer-container .center .link .links, .right .contact .links {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
footer .footer-container .center .link .links a, .contact .links a {
  text-decoration: none;
  color: white;
}
footer .footer-container .center .link .links a:hover {
  color: var(--font);
}

/* Responsif mobile L */
.burger {
  display: none;
  cursor: pointer;
  flex-direction: column;
  justify-content: space-around;
  width: 30px;
  height: 25px;
  position: absolute;
  right: 2rem;
  top: 1rem;
}

.burger div {
  width: 30px;
  height: 3px;
  background-color: black;
  border-radius: 5px;
  transition: all 0.3s ease;
}

@media (max-width: 425px) {
  nav{
    padding: 0 1rem;
  }
  nav .nav-menu ul {
    font-size: 12px;
    gap: 1px;
    z-index: 99;
    padding: 0;
  }
  nav .nav-menu ul li a {
    font-size: 10px;
    padding: 0.5rem;
  }

  #home .home-page .connect .text-connect{
    display: none;
  }
  #home .home-page .connect{
    padding-left: 0;
    width: 0;
  }
  #home .home-page .connect .sosmed{
    position: absolute;
    display: flex;
    justify-content: center;
    bottom: 0;
    width: 85%;
  }
  #home .home-page .connect .sosmed ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  #home .home-page .connect .sosmed ul li a{
    padding: .7rem;
  }
  #home .home-container .home-page .center {
    width: 100%;
  }
  #home .home-page .get-started a {
    font-size: 12px;
  }

  /* Profil */
  section#profile .profile-container {
    height: max-content;
    flex-direction: column-reverse;
  }
  section#profile .profile-img.show {
    transform: translateX(0);
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
  }
  section#profile .profile-img img {
    box-shadow: none;
  }
  section#profile .profile-desc {
    width: 90%;
    padding-left: 0;
    margin: auto;
  }
  section#profile .profile-desc .desc {
    width: 100vw;
    padding: 3rem 2rem;
  }
  section#profile .profile-desc .desc .skills h5 {
    font-size: 18px;
  }
  section#profile .profile-desc .desc .skills .skill-set .skill {
    font-size: 10px;
  }
  section#profile .profile-desc .desc h4 {
    text-align: center;
  }
  #projects .projek-container .projek-card img, .pub-card img{
    width: 16rem;
  }
  #projects .projek-container .projek-card, .pub-container .pub-card{
    width: 16rem;
  }
  #projects .projek-container,
  .pub-container {
    flex-wrap: nowrap;
    gap: 20px; /* Jarak antar kartu */
    padding: 1rem 2rem;
    overflow-x: auto; /* Mengaktifkan scroll horizontal */
    scroll-snap-type: x mandatory; /* Efek snapping */
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
  }
  .pub-container{
    padding-left: 11rem;
  }
  #projects .projek-container .projek-card img,
  .pub-card img {
    width: 15rem;
  }
  #projects .projek-container, .pub-container{
    gap: 60px;
  }
  .pub-container .pub-card img{
    width: 16rem;
  }
  #publication {
    height: 100%;
  }





  #blog .blog-container{
    font-size: 18px;
    margin-top: 0;
  }





  footer {
    height: max-content;
    margin-top: 3rem;
  }
  footer .footer-container .left {
    padding-left: 10px;
    font-size: 12px;
  }
  footer .footer-container .center, footer .footer-container .right{
    font-size: 12px;
  }
  footer .footer-container{
    height: 27rem;
  }
  footer .footer-container .center .link .link-head, footer .footer-container .right .contact-head{
    margin-bottom: 5.4rem;
  }
  footer .footer-container .left .text-left .sosmed{
    position: absolute;
    width: 100vw;
  }


  .pointer{
    display: none;
  }
  /* .nav-menu ul.active {
    right: 10rem;
    width: 200px;
  } */

  /* .burger {
    display: flex;
  }

  .burger.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
  }

  .burger.toggle .line2 {
    opacity: 0;
  }

  .burger.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
  } */
}
















/* Tablet */
@media (min-width: 426px) and (max-width: 768px) {
  nav .nav-menu ul{
    font-size: 12px;
    padding-left: 0;
  }
  nav .nav-logo{
    width: max-content;
  }
  section#home{
    width: 100%;
  }
  #home .home-page .connect{
    padding-left: 2rem;
  }
  #home .home-page .connect .text-connect{
    width: 29%;
  }

  section#profile .profile-img img{
    width: 12rem;
  }
  section#profile .profile-desc .desc{
    width: 100%;
  }
  section#profile .profile-desc{
    padding-left: 2rem;
  }
  section#profile .profile-img{
    width: 35%;
  }
  #projects .projek-container, .pub-container{
    padding: 0 6rem;
    justify-content: space-between;
  }
  #projects .projek-container .projek-card, .pub-container .pub-card{
    width: 13rem;
    height: 20rem;
  }

  .pub-container .pub-card img{
    width: 100%;
    height: 100%;
  }
  #blog .blog-container{
    font-size: 2rem;
  }
  footer .footer-container .left .text-left .sosmed a{
    padding: .5rem;
  }
  footer .footer-container .left .text-left .sosmed{
    width:100vw;
    margin-top: 3.4rem;
  }
  footer .footer-container .left{
    padding-left: 0;
  }
}
