:root {
  --font: rgb(61, 60, 60);
  --white: #e6e6e6;
}
.path {
  padding-left: 2rem;
  font-size: 12px;
  height: 2rem;
  display: flex;
  align-items: center;
}

.path .back a{
  margin-left: -1rem;
  margin-right: 2rem;
  text-decoration: none;
  color: var(--font);
}
.projek-kontainer .head-img img {
  width: 15rem;
  height: 20rem;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 0.5rem;
}
.projek-kontainer .head-img {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}
.head-projek {
  margin-top: 3rem;
}
.head-projek h4 {
  display: flex;
  justify-content: center;
  background: linear-gradient(to right, #f093fb, #f5576c);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.projek-deskripsi p {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-align: justify;
  padding: 0 2rem;
  text-indent: 30px;
}
.projek-deskripsi p a {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-decoration: none;
  background: linear-gradient(to right, #f093fb, #f5576c);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Galeri */
.galeri h2 {
  background: linear-gradient(to right, #f093fb, #f5576c);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  justify-content: center;
  display: flex;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.galeri{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.galeri-container {
  display: flex;
  overflow: hidden;
  width: 300px; /* Sesuaikan dengan lebar gambar */
  height: 200px; /* Sesuaikan dengan tinggi gambar */
  position: relative;
  border-radius: 30px;
}

.galeri-card {
  min-width: 100%;
  transition: transform 0.5s ease-in-out;
}

.galeri-container img {
  width: 100%;
  height: auto;
}


ol li{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  padding: 0 2rem;
  text-align: justify;
}
@media(min-width: 650px){
  .galeri-container{
    width: 600px;
    height: 400px;
  } 
  .projek-kontainer .head-img img{
    width: 40rem;
  }
  .path{
    font-size: 14px;
  }
}

